@import 'config';
@import 'menu';
*{
    box-sizing: border-box;
}

body{
    @include background();
    background-color: $primary_color;
    color: set-text-color($primary_color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading{
        font-size: 6rem;
    }

    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary_color, 2),0.5);
    }
}

a{
    color: #ffffff;
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}

.secondary-text{
    color: $secondary_color;
}

main{
    padding: 4rem;
    //height: 100%;
    min-height: calc(100vh-60px);
    .icons{
        margin-top: 1rem;

        a{
            padding: 0.4rem;

            &:hover{
                color:$secondary_color;
                @include easeOut();
            }
        }
    }
    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
}
.about-info{
    display: grid;
    grid-template: 
    'bio-image bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3,1fr);
}
.bio{
    grid-area: bio;
    font-size: 1.5rem;
    margin-left: 5px;
}
.bio-image{
    grid-area: bio-image;
    height: 250px;
    width: 250px;
    margin: auto;
    border: solid 3px $secondary_color;
    border-radius: 50%;
}
.job1{
    grid-area: job1;
}
.job2{
    grid-area: job1;
}
.job3{
    grid-area: job1;
}
.job{
    background: lighten($primary_color, 5);
    padding: 0.5rem;
    margin: 5px;
    border-bottom: solid 5px $secondary_color;
}
#main-footer{
    text-align: center;
    padding: 1rem;
    background: darken($primary_color, 10);
    color: set-text-color($primary_color);
    height: 60px;
}

//responsive css
@import 'responsive';
